@import "tailwindcss";

@font-face {
  font-family: "Inter Italic";
  src: url(/public/fonts/Inter_28pt-Italic.ttf) type("truetype");
}
@font-face {
  font-family: "Inter Regular";
  src: url(/public/fonts/Inter_28pt-Regular.ttf) type("truetype");
}
@font-face {
  font-family: "space Grotesk Regular";
  src: url(/public/fonts/SpaceGrotesk-Regular.ttf) type("truetype");
}
@font-face {
  font-family: "space Grotesk SemiBold";
  src: url(/public/fonts/SpaceGrotesk-SemiBold.ttf) type("truetype");
}

html,
body {
  margin: 0;
  height: 100%;
}

.reveal {
  height: 100vh;
}

.brand-color {
  color: #ffb347;
}

.hero_title {
  font-family: "Space Grotesk SemiBold", sans-serif;
}
.hero_description {
  font-family: "Inter Regular", sans-serif;
}
